# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.elf
*.hex
*.list
*.map
STM32CubeIDE/Debug/Application/
TouchGFX/generated/
TouchGFX/simulator/
*.su
STM32CubeIDE/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
STM32CubeIDE/.settings/language.settings.xml
